*.py[cod]
*.orig
*.rej
.env
.env.example
.pytest_cache
.tox
build
dist
migrations
*.egg-info
*.log
local_settings.py
db.sqlite3
media
__pycache__
pip-wheel-metadata
*.egg
.coverage
.cache
nosetests.xml
cover
htmlcov

